dashboard/node-red-flow.json
[
  {
    "id": "tab.gpsntp",
    "type": "tab",
    "label": "GPS NTP",
    "disabled": false,
    "info": "Live status from gpsntp.local. Subscribes to shack/gpsntp/chrony on the shack MQTT broker."
  },
  {
    "id": "uitab.gpsntp",
    "type": "ui_tab",
    "name": "GPS NTP",
    "icon": "timer",
    "order": 99,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "uigroup.chrony",
    "type": "ui_group",
    "name": "Chrony",
    "tab": "uitab.gpsntp",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uigroup.gps",
    "type": "ui_group",
    "name": "GPS",
    "tab": "uitab.gpsntp",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "mqttbroker.shack",
    "type": "mqtt-broker",
    "name": "shack-mqtt",
    "broker": "192.168.1.169",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mqttin.chrony",
    "type": "mqtt in",
    "z": "tab.gpsntp",
    "name": "shack/gpsntp/chrony",
    "topic": "shack/gpsntp/chrony",
    "qos": "0",
    "datatype": "json",
    "broker": "mqttbroker.shack",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [["fn.split"]]
  },
  {
    "id": "fn.split",
    "type": "function",
    "z": "tab.gpsntp",
    "name": "split + format",
    "func": "const p = msg.payload || {};\nconst sysOffUs = (p.system_time_offset_s || 0) * 1e6;\nconst rmsUs    = (p.rms_offset_s         || 0) * 1e6;\nconst rootUs   = (p.root_dispersion_s    || 0) * 1e6;\nconst fixStr   = p.fix_mode === 3 ? '3D fix'\n               : p.fix_mode === 2 ? '2D fix'\n               : 'NO FIX';\nreturn [\n  { payload: `${p.ref_name || '?'} (stratum ${p.stratum})` },\n  { payload: sysOffUs },\n  { payload: `RMS: ${rmsUs.toFixed(2)} µs` },\n  { payload: `Skew: ${p.skew_ppm} ppm` },\n  { payload: `Root disp: ${rootUs.toFixed(1)} µs` },\n  { payload: `${fixStr} \\u2014 ${p.sat_used}/${p.sat_seen} sats used` },\n  { payload: new Date((p.ts || 0) * 1000).toLocaleString() }\n];",
    "outputs": 7,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [
      ["uitext.ref"],
      ["uigauge.offset"],
      ["uitext.rms"],
      ["uitext.skew"],
      ["uitext.root"],
      ["uitext.gps"],
      ["uitext.ts"]
    ]
  },
  {
    "id": "uitext.ref",
    "type": "ui_text",
    "z": "tab.gpsntp",
    "group": "uigroup.chrony",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Reference",
    "label": "Reference",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 580,
    "y": 40,
    "wires": []
  },
  {
    "id": "uigauge.offset",
    "type": "ui_gauge",
    "z": "tab.gpsntp",
    "name": "System offset (µs)",
    "group": "uigroup.chrony",
    "order": 2,
    "width": "6",
    "height": "3",
    "gtype": "gage",
    "title": "System offset",
    "label": "µs",
    "format": "{{value}}",
    "min": -500,
    "max": 500,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "-50",
    "seg2": "50",
    "className": "",
    "x": 590,
    "y": 80,
    "wires": []
  },
  {
    "id": "uitext.rms",
    "type": "ui_text",
    "z": "tab.gpsntp",
    "group": "uigroup.chrony",
    "order": 3,
    "width": "6",
    "height": "1",
    "name": "RMS",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 570,
    "y": 120,
    "wires": []
  },
  {
    "id": "uitext.skew",
    "type": "ui_text",
    "z": "tab.gpsntp",
    "group": "uigroup.chrony",
    "order": 4,
    "width": "6",
    "height": "1",
    "name": "Skew",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 570,
    "y": 160,
    "wires": []
  },
  {
    "id": "uitext.root",
    "type": "ui_text",
    "z": "tab.gpsntp",
    "group": "uigroup.chrony",
    "order": 5,
    "width": "6",
    "height": "1",
    "name": "Root disp",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 580,
    "y": 200,
    "wires": []
  },
  {
    "id": "uitext.gps",
    "type": "ui_text",
    "z": "tab.gpsntp",
    "group": "uigroup.gps",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "GPS",
    "label": "GPS",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 570,
    "y": 240,
    "wires": []
  },
  {
    "id": "uitext.ts",
    "type": "ui_text",
    "z": "tab.gpsntp",
    "group": "uigroup.gps",
    "order": 2,
    "width": "6",
    "height": "1",
    "name": "Last update",
    "label": "Last update",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 590,
    "y": 280,
    "wires": []
  }
]
